.App {
  text-align: center;
  background-image: url('../public/glassesImage/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #fff;
}


.title {
  background-color: rgba(0, 0, 0, 0.8);
}

.imgListGlass img {
  display: block;
  height: auto;
  width: 240px;

}

.model_left {
  position: relative;
}

.glass-model img {
  position: absolute;
  top: 70px;
  left: 54px;
  height: auto;
  width: 55%;
}

.glasses img {
  width: 150px;
  height: auto;
  cursor: pointer;
}

